@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This app is for saving code snippets for easy retrival.  There are two ways to search, by language or by description.</p>
